body {
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    grid-gap: 1em;
    margin: 1em;
}

header,
footer {
    grid-column: 1 / -1;
}

aside,
nav {
    grid-column: span 4;
}

main {
    grid-area: 2 / 5 / 4 / 13;
}

img {
    grid-column: span 3;
}